body {
	padding: 0;
	margin: 0;
	background-color: #878886;
	font-family: 'Montserrat', sans-serif;
}

.body {
	height: 200%;
	position: absolute;
}





a:visited {
	text-decoration: none;
	color: #2C2C2C;
}

a:link {
	text-decoration: none;
	color: #2C2C2C;
}

a:active {
	text-decoration: none;
	color: #2C2C2C;
}





.header {
	height: 100px;
	width: 100%;
	background-color: #5D5D5D;
}

.upper_links {
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
}

.upper_a {
	margin-top: 2%;
	font-size: 1.6em;
}

.upper_a:hover {
	color: #E21AED;
	text-decoration: overline;
}





.middle {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.tovar1, .tovar2, .tovar3, .tovar4, .tovar5 {
	width: 10%;
	padding: 0.3% 0.3% 0.3% 0.3%;
	border-width: 2px;
}





.under_middle {
	display: flex;
	justify-content: space-between;
	margin-left: 11.2%;
	margin-right: 11.2%;
	margin-top: 0.3%;
}

.under_middle_buy {
	font-size: 2em;
	border: solid black;
	padding: 0.2%;
	border-width: 1px;
}

.under_middle_buy:hover {
	color: #FFFFFF;
}